<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Открытка для Катюни</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'notes/css/foryoustyles.css' %}">
</head>
<body>
    <div class="card">
        <div class="card-content">
            <h1 class="title">Катюня, я тебя люблю!</h1>
            <p class="message">Ты — самый прекрасный и важный человек в моей жизни!</p> 
            <p class="message">Без тебя, жизнь не та.</p>
        </div>
    </div>
</body>
</html>
